<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ifinances</property>
        <property name="connection.username">ifinances</property>
        <property name="connection.password">aggies92</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>


        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <mapping class="com.infiniteskills.data.entities.basic_value_types.User"/>
        <mapping class="com.infiniteskills.data.entities.basic_value_types.TimeTest"/>
        <mapping class="com.infiniteskills.data.entities.composite_value_types.User2"/>
        <mapping class="com.infiniteskills.data.entities.composite_value_types.UserMapACollectionOfCompositeValues"/>
        <mapping class="com.infiniteskills.data.entities.composite_value_types.Bank"/>
        <mapping class="com.infiniteskills.data.entities.entity_associations.CredentialUniDirectionalOneToOne"/>
        <mapping class="com.infiniteskills.data.entities.entity_associations.CredentialBiDirectionalOneToOne"/>
        <mapping class="com.infiniteskills.data.entities.entity_associations.UserUnidirectionalOneToOne"/>
        <mapping class="com.infiniteskills.data.entities.entity_associations.UserBidirectionalOneToOne"/>

    </session-factory>

</hibernate-configuration>