<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ifinances</property>
        <property name="connection.username">ifinances</property>
        <property name="connection.password">aggies92</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>


        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <mapping class="com.infiniteskills.data.entities._04_basic_mapping_annotations.User"/>
        <mapping class="com.infiniteskills.data.entities._04_basic_mapping_annotations.TimeTest"/>
        <mapping class="com.infiniteskills.data.entities._05_composite_value_types.User2"/>
        <mapping class="com.infiniteskills.data.entities._05_composite_value_types.UserMapACollectionOfCompositeValues"/>
        <mapping class="com.infiniteskills.data.entities._05_composite_value_types.Bank"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.CredentialUniDirectionalOneToOne"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.CredentialBiDirectionalOneToOne"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.UserUnidirectionalOneToOne"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.UserBidirectionalOneToOne"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.AccountUniDirectionalOneToMany"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.AccountBiDirectionalOneToMany"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.TransactionUniDirectionalOneToMany"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.TransactionBiDirectionalOneToMany"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.BudgetJoinTable"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.AccountUniDirectionalManyToMany"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.TransactionUniDirectionalManyToMany"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.UserBiDirectionalManyToMany"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.CredentialBiDirectionalManyToMany"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.AccountBiDirectionalManyToMany"/>
        <mapping class="com.infiniteskills.data.entities._06_entity_associations.TransactionBiDirectionalManyToMany"/>

        <mapping class="com.infiniteskills.data.entities._07_hibernate_api.AccountHibernateAPI"/>
        <mapping class="com.infiniteskills.data.entities._07_hibernate_api.BankHibernateAPI"/>
        <mapping class="com.infiniteskills.data.entities._07_hibernate_api.CredentialHibernateAPI"/>
        <mapping class="com.infiniteskills.data.entities._07_hibernate_api.TransactionHibernateAPI"/>
        <mapping class="com.infiniteskills.data.entities._07_hibernate_api.UserHibernateAPI"/>

        <mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.Currency"/>
        <mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.Market"/>
        <mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.AccountEnumeratedTypes"/>
        <mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.AccountType"/>
        <mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.ids.CurrencyId"/>

        <mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.BondMappedSuperclass"/>
        <mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.StockMappedSuperclass"/>
        <mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.InvestmentMappedSuperclass"/>

        <mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.InvestmentTablePerClassInheritance"/>
        <!--mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.BondTablePerClassInheritance"/-->
        <!--mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.StockTablePerClassInheritance"/-->
        <mapping class="com.infiniteskills.data.entities._09_advanced_mappings_and_configuration.PortfolioTablePerClassInheritance"/>
    </session-factory>

</hibernate-configuration>